@use "../../global" as g;

/*!
page > service > service-case
------------------------------
*/
.service-case {
  margin: 104rem 0 64rem;
  @include g.mq() {
    margin: 96rem 0;
  }
}

.service-case-card-wrapper {
  margin-top: 40rem;
  display: grid;
  gap: 40rem;
  @include g.mq() {
    margin-top: 54rem;
    grid-template-columns: repeat(3, 1fr);
    gap: 39rem;
  }
}

.service-case-card-link {
  display: grid;
  gap: 14rem;

  @media (any-hover: hover) {
    &:hover {
      .service-case-card-image img {
        transform: scale(1.05);
      }

      // View moreテキストのopacity
      .c-view-more-link--small {
        opacity: 0.7;
      }

      // spanボタンの色を反転
      .service-case-card-view-more > span {
        background-color: var(--color-white);
        border-color: var(--color-primary);

        &::after {
          background-color: var(--color-primary);
        }
      }
    }
  }
}

.service-case-card-image {
  overflow: hidden;
  border-radius: 10rem;
  @include g.mq() {
    border-radius: 12rem;
  }

  img {
    width: 100%;
    aspect-ratio: 335 / 223;
    object-fit: cover;
    object-position: center;
    display: block;
    transition: transform 0.3s ease;
  }

  @include g.mq() {
    img {
      aspect-ratio: 374 / 249;
    }
  }
}

.service-case-card-title--light {
  color: var(--color-font-light);
}

.service-case-card-title--base {
  color: var(--color-font-base);
}

.service-case-card-text {
  display: grid;
  gap: 8rem;

  h3 {
    font-size: 14rem;
    letter-spacing: 0.08em;
  }

  p {
    line-height: 1.6;
    letter-spacing: 0.05em;
  }
}

.service-case-card-view-more {
  justify-content: flex-end;
}
