@use "../global" as g;

/*!
component > button
------------------------------
*/
/* View more_ボタン */
.c-view-more-btn {
  display: flex;
  align-items: center;
  gap: 14rem;
  cursor: pointer;

  @include g.mq() {
    gap: 24rem;
  }

  // 親要素ホバー時に両方同時に変化
  @media (any-hover: hover) {
    &:hover .c-view-more-link {
      opacity: 0.7;
    }
  }

  @media (any-hover: hover) {
    &:hover > span {
      background-color: var(--color-white);
      border-color: var(--color-primary);

      &::after {
        background-color: var(--color-primary);
      }
    }
  }
}

.c-view-more-link {
  font-family: var(--font-family-en);
  font-size: 18rem;
  line-height: 1;
  letter-spacing: 0.05em;
  color: var(--color-primary);
  transition: opacity 0.3s ease;
  @include g.mq() {
    font-size: 20rem;
  }
}

.c-view-more-btn > span {
  display: grid;
  place-items: center;
  width: 47rem;
  height: 47rem;
  border: 1rem solid var(--color-primary);
  border-radius: 50vh;
  background-color: var(--color-primary);
  transition: background-color 0.3s ease, border-color 0.3s ease;
  @include g.mq() {
    width: 58rem;
    height: 58rem;
  }

  &::after {
    content: "";
    display: block;
    width: 5rem;
    height: 5rem;
    border-radius: 50vh;
    background-color: var(--color-white);
    transition: background-color 0.3s ease;
  }
}

/* View more_カード用ボタン */
.c-view-more-btn--small {
  display: flex;
  align-items: center;
  gap: 10rem;

  @media (any-hover: hover) {
    &:hover .c-view-more-link--small {
      opacity: 0.7;
    }
  }

  @media (any-hover: hover) {
    &:hover > span {
      background-color: var(--color-white);
      border-color: var(--color-primary);
    }
  }

  @media (any-hover: hover) {
    &:hover > span::after {
      background-color: var(--color-primary);
    }
  }
}

.c-view-more-link--small {
  font-family: var(--font-family-en);
  font-size: 16rem;
  line-height: 1;
  letter-spacing: 0.05em;
  color: var(--color-primary);
  transition: opacity 0.3s ease;
}

.c-view-more-btn--small > span {
  display: grid;
  place-items: center;
  width: 32rem;
  height: 32rem;
  border-radius: 50vh;
  border: 1rem solid var(--color-primary);
  background-color: var(--color-primary);
  transition: background-color 0.3s ease, border-color 0.3s ease;

  &::after {
    content: "";
    display: block;
    width: 4rem;
    height: 4rem;
    border-radius: 50vh;
    background-color: var(--color-white);
    transition: background-color 0.3s ease;
  }
}
