@use "../global" as g;

/*!
component > form
------------------------------
*/

.c-form {
  display: grid;
  gap: 24rem;

  @include g.mq() {
    gap: 32rem;
  }
}

.c-form-item {
  display: grid;
  gap: 6rem;
  @include g.mq() {
    grid-template-columns: 35% 65%;
    gap: 0;
  }

  // textareaを含むフォームアイテムのみラベルを上揃え
  &:has(.c-form-textarea) {
    @include g.mq() {
      align-items: start;

      .c-form-label {
        padding-top: 12rem;
      }
    }
  }
}

.c-form-label {
  letter-spacing: 0.05em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  @include g.mq() {
    justify-content: flex-start;
  }
}

.c-form-item:has(input:required, textarea:required) > .c-form-label::after {
  content: "必須";
  background-color: var(--color-red);
  color: var(--color-white);
  font-size: 13rem;
  letter-spacing: 0.05em;
  padding: 2rem 8rem;
  border-radius: 7rem;
  margin-left: 8rem;
}

.c-form-text,
.c-form-textarea {
  width: 100%;
  padding: 12rem 8rem;
  background-color: var(--color-bg-extra-light);
  color: var(--color-font-light);
  border-radius: 8rem;
  font-size: 16rem;
  letter-spacing: 0.05em;
  outline: 0; //focus時のスタイルリセット
  @include g.mq() {
    font-size: 18rem;
  }

  &:focus {
    box-shadow: 0 0 0 1rem var(--color-border) inset,
      0 0 0 1rem var(--color-primary);
  }
}

.c-form-textarea {
  min-height: 200rem; // 初期設定_高さの最小値
  field-sizing: content; // 文字数が増えて行数が増えた場合、勝手にリサイズしてくれる（一部のブラウザのみ）
}

.c-privacy-submit-wrapper {
  display: grid;
  gap: 16rem;
  align-items: center;
  justify-content: center;
}

.c-privacy {
  font-size: 14rem;
  line-height: 1;
  letter-spacing: 0.05em;

  a {
    text-decoration: underline;
    transition: opacity 0.3s ease;

    @media (any-hover: hover) {
      &:hover {
        opacity: 0.7;
      }
    }
  }
}

.c-submit-button {
  display: block;
  width: fit-content;
  margin-inline: auto;
  text-align: center;
  padding: 14rem 40rem;
  border: 1rem solid var(--color-primary);
  background-color: var(--color-primary);
  border-radius: 50vh;
  color: var(--color-white);
  font-size: 18rem;
  line-height: 1;
  letter-spacing: 0.05em;
  transition: background-color 0.3s ease;

  @media (any-hover: hover) {
    &:hover {
      background-color: var(--color-white);
      color: var(--color-primary);
      border: 1rem solid var(--color-primary);
    }
  }
}
