@use "../global" as g;

/*!
component > news-item
------------------------------
*/

.c-news-item {
  border-bottom: 1rem solid var(--color-border);
}

.c-news-link {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  padding: 17rem 10rem;
  line-height: 1.6;
  letter-spacing: 0.05em;
  transition: color 0.3s ease;
  @include g.mq() {
    flex-direction: row;
    gap: 40rem;
    padding: 24rem 20rem;
    align-items: center;
  }

  time {
    font-family: var(--font-family-en);
    font-size: 13rem;
    font-weight: 500;
    letter-spacing: 0.03em;
    color: var(--color-font-light);
    transition: color 0.3s ease;
    @include g.mq() {
      font-size: 14rem;
    }
  }

  @media (any-hover: hover) {
    &:hover {
      color: var(--color-primary);

      time {
        color: var(--color-primary);
      }
    }
  }
}
