@use "../../global" as g;

/*!
page > top > top-service
------------------------------
*/
.top-service {
  position: relative;
  --bg-width: 0%; // 初期値は0%（アニメーション用）
  --bg-opacity: 0; // 初期値は0（フェードイン用）

  &::before {
    content: "";
    display: block;
    width: var(--bg-width); // CSS変数を使用
    opacity: var(--bg-opacity); // CSS変数を使用
    height: 500rem;
    background-color: var(--color-primary);
    position: absolute;
    top: 0;
    left: 0;
    z-index: var(--z-index-negative);
    border-radius: 0 0 30rem 0;
    @include g.mq() {
      height: 410rem;
      border-radius: 0 0 30rem 0;
    }
  }
}

.top-service-inner {
  padding-top: 64rem;
  padding-right: 20rem;
  display: flex;
  flex-direction: column;
  gap: 40rem;
  @include g.mq() {
    flex-direction: row;
    gap: 65rem;
    padding-right: 0;
  }
}

.top-service-header {
  width: 100%;
  @include g.mq() {
    width: auto;
    flex: 1;
  }
}

.top-service-header-text {
  margin-top: 40rem;
  letter-spacing: 0.05em;
  color: var(--color-white);
  @include g.mq() {
    font-size: 16rem;
  }

  span {
    display: block;
  }
}

.top-service-cards {
  display: grid;
  gap: 40rem;
  @include g.mq() {
    width: calc(714rem / 1200rem * 100%);
    flex-shrink: 0;
    grid-template-columns: repeat(2, 1fr);
  }
}

.top-service-card-link {
  display: grid;
  gap: 16rem;

  // ホバー時のエフェクト
  @media (any-hover: hover) {
    &:hover {
      // 画像を拡大
      .top-service-card-image img {
        transform: scale(1.05);
      }

      // view moreボタンのエフェクト
      .c-view-more-link--small {
        opacity: 0.7;
      }

      .top-service-card-view-more > span {
        background-color: var(--color-white);
        border-color: var(--color-primary);

        &::after {
          background-color: var(--color-primary);
        }
      }
    }
  }
}

.top-service-card-image {
  width: 100%;
  aspect-ratio: 316 / 251;
  border-radius: 10rem;
  overflow: hidden;
  @include g.mq() {
    aspect-ratio: 337 / 385;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
  }
}

.top-service-card-title {
  font-size: 22rem;
  letter-spacing: 0.05em;
}
.top-service-card-title--en {
  font-family: var(--font-family-en);
  font-size: 15rem;
  letter-spacing: 0.05em;
  color: var(--color-primary);
  margin-top: 2rem;
}

.top-service-card-text {
  letter-spacing: 0.05em;
  @include g.mq() {
    font-size: 16rem;
  }
  span {
    display: block;
  }
}

.top-service-card-view-more {
  margin-left: auto;
  width: fit-content;
}
