@use "../../global" as g;

/*!
page > top > top-news
------------------------------
*/
.top-news {
  position: relative;
  padding: 40rem 0 60rem;
  @include g.mq() {
    padding: 96rem 0;
  }
  &::after {
    content: "";
    display: block;
    width: 71%;
    height: 100%;
    background-color: var(--color-bg-extra-light);
    border-radius: 50rem 0 0 0rem;
    position: absolute;
    top: 0;
    right: 0;
    z-index: var(--z-index-negative);
    @include g.mq() {
      width: 79%;
    }
  }
}

.top-news-inner {
  display: grid;
  @include g.mq() {
    grid-template-columns: auto 1fr 63%;
    grid-template-rows: auto 1fr;
  }
}

.top-news-header {
  margin-bottom: 48rem;
  @include g.mq() {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    align-self: start;
    height: fit-content;
    margin-bottom: 80rem;
  }
}

.top-news-list {
  @include g.mq() {
    grid-column: 3 / 4;
    grid-row: 1 / 3;
    align-self: start;
  }
}

.top-news-view-more-btn {
  margin-top: 32rem;
  justify-self: end;
  @include g.mq() {
    justify-self: start;
    align-self: start;
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    margin-top: 0;
  }
}
